#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
email = "vicentealamosv@gmail.com"
name = "viceav"

[signing]
behavior = "drop"
backend = "ssh"
key = "~/.ssh/id_ed25519.pub"

[git]
sign-on-push = true
