#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
email = "vicentealamosv@gmail.com"
name = "viceav"

[signing]
behavior = "own"
backend = "ssh"
key = "~/.ssh/id_ed25519.pub"

[ui]
default-command = "log"

[templates]
draft_commit_description = '''
concat(
  builtin_draft_commit_description,
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''
