/*

!ags
!fish
!applications
!docs
!formatters
!hypr
!kitty
!mako
!nvim
!zathura
!udev
!yt-dlp
!mpv

!.gitconfig
!.gitignore

!README.md
!aur.txt
!pacman.txt
!packages.hook
!starship.toml
!user-dirs.dirs
