/*

!ags

!fish
fish/functions
fish/config.fish

!applications
!docs
!formatters
!hypr
!kitty
!mako
!nvim
!waybar
!wofi
!zathura
!udev
!yt-dlp

!.gitconfig
!.gitignore

!README.md
!aur.txt
!pacman.txt
!packages.hook
!starship.toml
!user-dirs.dirs
