// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$border: #204835;
$button: #668D34;
$active: #CBE59C;
$hyprland-border: #3C3C3C;
$bg: #27181B;
$font: #fff;

label {
  color: $font;
}

window.Bar {
  font-family: "Noto Serif";
  font-size: 15px;

  >centerbox {
    background: inherit;
    border: solid $border;
    border-width: 0px 2px 2px 2px;
    border-radius: 0px 0px 10px 10px;
    padding: 5px 10px;
    margin: 0px 10px;

  }

  button {
    margin: 5px 2px;
    outline: none;
    padding: 0px;
    min-width: 12px;
    min-height: 12px;
    border-width: 0px;
    border-radius: 5px;
    background: transparent;
    background-color: $button;
  }

  button.active {
    padding: 0px 4px;
    background-color: $active;
  }

}

window.Battery {
  background-color: rgba($color: #1D1A23, $alpha: 0.8);

  box {
    border-radius: 10px;
    background: $border;
    min-width: 700px;
    padding: 30px;
    border: solid 3px $hyprland-border;
  }

  .main {
    font-size: 50px;
  }

  label {
    font-size: 20px;
  }

  button:hover {
    background: transparent;
    background-color: $active;
  }
}

window.QuickMenu {
  revealer {
    >box {
      border: 2px solid $border;
      padding: 10px;
      margin: 10px;
      border-radius: 10px 5px 10px 10px;
      background: $bg;
    }
  }

  .grogu {
    margin: 8px 0px;
    background-image: url("./grogu.jpg");
    background-size: 175%;
    background-position: 60%;
    border-radius: 50px;
    min-width: 60px;
    min-height: 60px;
  }

  .cover {
    min-width: 50px;
    min-height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  .spotify {
    margin: 10px 0px 0px 0px;
  }

  button,
  button:hover {
    all: unset;
    padding: 8px 0px;
    border-radius: 5px;
    background: $hyprland-border;
  }

  button.wifi-starting,
  button:hover.wifi-starting {
    background: rgba($border, 0.4)
  }

  button.wifi-on,
  button:hover.wifi-on,
  button.bluetooth-on,
  button:hover.bluetooth-on {
    background: $border;
  }

  scale {
    padding: 5px;
  }

  trough {
    outline: none;
    min-height: 7px;
    border-radius: 10px;

    :focus {
      background-color: $active;
    }

    >slider {
      all: unset;
    }

    >highlight {
      border: none;
      background-color: $button;
      border-radius: inherit;
    }
  }
}

window.Apps {
  font-family: 'Cousine';
  font-size: 18px;

  revealer {
    >box {
      border: 2px solid $border;
      padding: 10px;
      margin: 10px;
      border-radius: 5px 10px 10px 10px;
      background: $bg;
    }

    button {
      background: transparent;
      padding: 0px 5px;

      icon {
        font-size: 23px;
        margin: 5px;
      }
    }
  }

  button:focus {
    background-color: $border;
  }

  .firstButton {
    background-color: $border;
  }

  entry:focus {
    border-color: $font;
  }
}

window.Slider {
  revealer {
    >box {
      border: 2px solid $border;
      padding: 8px;
      margin: 10px 0px 0px 0px;
      border-radius: 10px;
      background: $bg;

      label {
        padding: 0px 1px;
      }
    }
  }

  scale {
    padding: 5px;
  }

  trough {
    outline: none;
    padding: 0px;
    min-height: 15px;
    min-width: 180px;
    border-radius: 10px;


    >slider {
      all: unset;
      border-radius: inherit;
    }

    >highlight {
      border: none;
      background-color: $button;
      border-radius: inherit;
    }
  }
}
