.bar {
  border: solid #3c3d46;
  border-width: 0px 2px 2px 2px;
  padding: 5px 10px;
  margin: 0px 10px;
  border-radius: 0px 0px 10px 10px;
}

.horizontal {
  padding: 0px 5px;
}

.eventbox:hover,
.eventbox_active {
  border: 1px solid;
  border: 1px solid rgba(30, 27, 34, 0.5);
  border-radius: 5px;
  background-color: rgba(30, 27, 34, 0.5);
}
.utils {
  padding: 0px 5px;
}

button {
  padding: 0px;
  margin: 0px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 10px;
  background: transparent;
  background-color: #ac433d;
}

.active {
  padding: 0px 5px;
  background-color: #741825;
}

label {
  font-family: "Serif";
  font-size: 15px;
}

label.title {
  font-family: "Sans";
  font-size: 14px;
}

label.artist {
  font-family: "Sans";
  font-size: 12px;
}

.img {
  min-height: 50px;
  min-width: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}
