.Workspace {
  margin: 0px 1px;
}

.utils {
  font-size: 13px;
  margin: 0px 5px;
}

.background {
  background: transparent;
}

.horizontal {
  border-width: 0px 1px 1px;
  border-color: #893125;
  border-style: solid;
  border-radius: 5px;
  margin: 0px 10px;
}

.container {
  padding: 5px 20px 10px 20px;
}
